body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}
.Top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.Birds {
  height: 200px;
  position: absolute;
  right: 200px;
  bottom: 200px;
}

.MyPic {
  width: 15%;
}

a {
  color: #11999E;
  margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.Programmer {
  font-weight: normal;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;


}

.Computer {
  width: 25%;
  float: left;
margin-right: 30px;
}

.chillies {
  width: 25%;
float: right;
margin-left: 30px;
}
.firstdescripion{
  color: #40514E;

}
.bottom-container{
  background-color: #66BFBF;


padding: 50px 0 20px;
}


hr{
  width: 5%;
  border-style: none;
  border-top-style:dotted;
border-width: 5px;
border-color: grey;
}
.middle-container{
  padding: 100px 0;
}
.intro{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.contact-message{
  width: 30%;
  margin: 40px auto 30px;
}
.btn {
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Montserrat', sans-serif;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
}
.btn:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
.btn:active {
	position:relative;
	top:1px;
}
.copyright{

  font-size: 0.75em;
  padding: 20px 0;
}
